html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
    background-color: whitesmoke;
}

img {
    height: 400px;
    width: 400px;
    border-radius: 20%;
}

button {
    height: 50px;
    width: 100px;
    border-color: darkslategray;
    font-size: medium;
    border-radius: 15%;
}

nav {
    list-style: none;
    justify-content: right;
    height: 50px;
    font-size: 30px;
    background-color: rgb(145, 122, 139);
}

hr {
    width: 1000px;
    border-width: 2px;
    border-color: darkslategray;
}
.container {
    display: inline-flex;
    align-items: center;
}

.header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    background-image: linear-gradient(rgb(145, 122, 139),whitesmoke);
    padding: 100px;
}

#bellabeat, 
#database,
#math {
    margin-left:200px;
    padding-top: 100px;
    width: 400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    word-wrap: normal;
    text-align: center;
}

#experience,
#training {
    font-family: Lucida Sans;
    padding: 100px;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: normal;
    text-align: center;
    display: flex;
    flex-grow: 2;
    margin: auto;
}

#quote {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    width: 1000px;
    padding: 100px;
    background-color: lightsteelblue;
    display: flex;
    flex-grow: 2;
    margin: auto;
}

#profilepic {
    height: 400px;
    width: 350px;
    border-radius: 50%;
}

#history {
    font-family: Lucida Sans;
    padding: 100px;
    width: 1000px;
    font-size: 20px;
    justify-content: space-around;
    word-wrap: normal;
    text-align: center;
    display: flex;
    flex-grow: 2;
    margin: auto;
}

#contact{
    font-family: Lucida Sans;
    padding: 100px;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: normal;
    text-align: center;
    display: flex;
    flex-grow: 2;
    margin: auto;

#linkedin {
    height: 50px;
    width: 50px;
}